@import "tailwindcss";

@font-face {
    font-family: 'Dune Rise';
    src: url('./dune_rise/Dune_Rise.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*::-webkit-scrollbar{
    display: none;
}